{{!-- <div class='row'>
    <div id='casesbyrace' class='column left'> </div>
    <div id='deathsbyrace' class='column right'> </div>
    <p class='footer'>Source:  Kentucky Department of Public Health</p>


</div>
<script type="text/javascript" src="/scripts/casesbyrace/casesbyrace.js"></script> 
<script type="text/javascript" src="/scripts/casesbyrace/deathsbyrace.js"></script>  --}}



