<div class="chart-section">
    <h4 class='table-headline section-head text-center'>Hospital beds occupied in the past week</h4>
    <p class='note text-center'>Scroll down to see more</p>
    <div id="embed-table"></div>
    <p class='footer' style='margin-left: 10%;'>Source: Centers for Disease Control and Prevention</p>

</div>

<script type="text/javascript" src="/scripts/hospitalization/hospitalCapacityTable.js"></script> 




{{!-- // const letter = [A :0
// B: 1
// C: 2
// D: 3
// E: 4
// F: 5
// G: 6
// H: 7
// I: 8
// J: 9
// K: 10
// L: 11
// M: 12
// N: 13
// O: 14
// P: 15
// Q: 16
// R: 17
// S: 18
// T: 19
// U: 20
// V: 21
// W: 22
// X: 23
// Y: 24
// Z: 25] --}}
