{{!-- <div class="chart-section">

    <div class='vaccine-table' style='background-color:#bcbddc; margin:auto;max-height:440px; max-width:640px;padding-top:0px;'>

        <div id='state-table' class='text-center'></div>
        <h4 class='table-headline text-center' style='font-size:18px;'>Vaccination in Kentucky</h4>
        <div id='vaccination-table'></div>
        <p class='footer' style='padding-left: 5px;'>Source: Centers for Disease Control and Prevention</p>
    </div>
</div>

<script type="text/javascript" src="/scripts/stateTable/stateTable.js"></script> 
<script type="text/javascript" src="/scripts/stateTable/vaccineTable.js"></script>  --}}
{{!-- 
    <div class='summary'>
        <h3 class="left-1">Total Cases</h3>
        <h3 class="left-2">Total Deaths</h3>
        <h3 class="left-3">Latest Cases</h3>
        <h4 class="left-1" id="total_cases"></h4>
        <h4 class="left-2" id="total_deaths"></h4>
        <h4 class="left-3" id="latest_cases"></h4>
        <h3 class="left-1">Latest Deaths</h3>
        <h3 class="left-2">Hospitalized</h3>
        <h3 class="left-3">In ICUs</h3>
        <h4 class="left-1" id="latest_deaths"></h4>
        <h4 class="left-2" id="hospitalized"></h4>
        <h4 class="left-3" id="in_icus"></h4>
    </div>
<script type="text/javascript" src="/scripts/stateTable/summary.js"></script> --}}


